@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "peaxBold";
  src: url("../fonts/Peax-Handwritingbold.woff2") format("woff2"),
    url("../fonts/Peax-Handwritingbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "peaxLight";
  src: url("../fonts/Peax-Handwritinglight.woff2") format("woff2"),
    url("../fonts/Peax-Handwritinglight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amsterdam";
  src: url("../fonts/Amsterdam-Handwriting.woff2") format("woff2"),
    url("../fonts/Amsterdam-Handwriting.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "greatvibe";
  src: url("../fonts/GreatVibes-Regular.woff2") format("woff2"),
    url("../fonts/GreatVibes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.full-custom-height {
  height: 100vh;
}
@media (max-width: 600px) {
  .full-custom-height {
    height: calc(100vh - 56px);
  }
}

section#sec_story .swipe_indicator,
section#sec_story .swipe_indicator div {
  height: auto;
}

section#sec_story .story_slide.helperSlide {
  position: relative;
}

.story_slide.helperSlide.hlpIndicShow .swipe_indicator.mob {
  display: block;
}

.swipe_indicator {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.swipe_indicator.desk {
  display: block;
}

.swipe_indicator .si_icons span {
  display: inline-block;
  margin: 0 4px;
  opacity: 0.6;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.swipe_indicator .si_icons span svg {
  width: 13px;
  height: auto;
  display: block;
}

.swipe_indicator.desk .si_icons span svg {
  width: 22px;
  height: auto;
  display: block;
}

.swipe_indicator .si_icons span {
  -webkit-animation: flash 800ms infinite linear;
  -ms-animation: flash 800ms infinite linear;
  animation: flash 800ms infinite linear;
}

.swipe_indicator .si_label {
  font-size: 12px;
  color: #fff;
  padding-top: 2px;
}

.swipe_indicator.desk .si_label {
  font-size: 9px;
  color: #fff;
  padding-top: 0px;
}

.swipe_indicator.mob.dir-vertical span svg {
  width: 22px;
}

.page-start {
  .swipe_indicator {
    position: relative;
    left: 0;
    bottom: 0;
    transform: translate(0);
    webkit-transform: translateX(0);
  }
}
.rsvpMain,
.thankYou {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.loading-spinner {
  color: #d1d5db;
  fill: #c8102e;
}
@keyframes flash {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.add-animation {
  transform: scale(0.94);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  span:nth-child(1) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(2) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(3) {
    display: block;
    animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(4) {
    animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(5) {
    animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(6) {
    animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(7) {
    animation: fade-in 0.8s 4.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(8) {
    animation: fade-in 0.8s 4.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(9) {
    animation: fade-in 0.8s 5.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
